In [1]:
! pip install etfpy sketch -q

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ydata-profiling 4.6.4 requires numpy<1.26,>=1.16.0, but you have numpy 1.26.4 which is incompatible.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import numpy as np

from etfpy import ETF, load_etf, get_available_etfs_list

# Load Data

In [3]:
etfs = get_available_etfs_list()
len(etfs)

3262

In [4]:
df = pd.read_csv("/kaggle/input/etfdb-overview/etfdb.csv", index_col=0)

In [5]:
len(df), len(etfs)-len(df)

(3137, 125)

In [6]:
# missing ETFs
print(*sorted(set(etfs).difference(df["Symbol"].to_list())), sep=" ")

ABCS APIE ARVR AVNV BBC BGLD BILD BITC BLLD BOAT BRNY CATH CGUS COWZ CRPT CSML DAPR DBEU DFSD DFSU DIP DISV DJAN DMAT DRIV DYLG EES EFIV EJUL EKG EMFM ENFR EPI EWC EZJ FCG FDLO FEEM FEPI FNGS FNGU FNOV FPXI FTSD FTXG FXE FXU GDE GJUL GLTR GNR GRN GSEU GSPY HYFI HYXF HYXU IDHQ IEO IGTR IMTM IWC IWML IXC JANH JMBS KALL KURE LBAY LCLG LGHT LOPP LOWV LRGF MCSE MILN MORT MRCP MTGP MVPS NBCT PBFB PDBC PEMX PGHY PPA PSFO PXH QTJL QVMM RDFI RSPR SCHI SCHM SCHP SDOG SDY SGLC SOXX SPHY SPXN SPYI TAXF TMFC TRFK TSL TTT UEVM UPW USMC USOI UTES VGLT VLU VRP WCLD WEBL WNDY XRLX XRT XTEN XTJA XTWY XYLD YLD

In [7]:
# df = pd.DataFrame(tmp)

df.head(3).T

,0,1,2
Symbol,SPY,IVV,VOO
Url,https://etfdb.com/etf/SPY,https://etfdb.com/etf/IVV,https://etfdb.com/etf/VOO
Issuer,https://etfdb.com/issuer/state-street/,https://etfdb.com/issuer/blackrock-inc/,https://etfdb.com/issuer/vanguard/
Brand,https://etfdb.com/issuer/spdr/,https://etfdb.com/issuer/ishares/,https://etfdb.com/issuer/vanguard/
Structure,UIT,ETF,ETF
Expense Ratio,0.09%,0.03%,0.03%
ETF Home Page,https://www.spdrs.com/product/fund.seam?ticker...,http://us.ishares.com/product_info/fund/overvi...,https://advisors.vanguard.com/investments/prod...
Inception,"Jan 22, 1993","May 15, 2000","Sep 07, 2010"
Index Tracked,https://etfdb.com/index/sp-500-index/,https://etfdb.com/index/sp-500-index/,https://etfdb.com/index/sp-500-index/
Analyst Report,https://etfdb.com/advisor_reports/SPY/,https://etfdb.com/advisor_reports/IVV/,https://etfdb.com/advisor_reports/VOO/
Price:,$551.46,$554.33,$506.81
Change:,$2.45 (0.0%),$2.42 (0.0%),$2.28 (0.0%)
Category:,Large Cap Growth Equities,Large Cap Growth Equities,Large Cap Growth Equities
Last Updated:,"Jul 03, 2024","Jul 04, 2024","Jul 04, 2024"
P/E Ratio,"{'SPY': '17.86', 'ETF Database Category Averag...","{'IVV': '19.66', 'ETF Database Category Averag...","{'VOO': '20.10', 'ETF Database Category Averag..."
52 Week Lo,$404.99,$406.85,$371.88
52 Week Hi,$551.83,$554.81,$507.14
AUM,"$545,741.0 M","$497,954.0 M","$478,357.0 M"
Shares,994.4 M,902.5 M,948.4 M
Category,Size and Style,Size and Style,Size and Style
Asset Class,Equity,Equity,Equity
Asset Class Size,Large-Cap,Large-Cap,Large-Cap
Asset Class Style,Blend,Blend,Blend
Region (General),North America,North America,North America
Region (Specific),U.S.,U.S.,U.S.
Segment,Equity: U.S. - Large Cap,Equity: U.S. - Large Cap,Equity: U.S. - Large Cap
Focus,Large Cap,Large Cap,Large Cap
Niche,Broad-based,Broad-based,Broad-based
Strategy,Vanilla,Vanilla,Vanilla
Weighting Scheme,Market Cap,Market Cap,Market Cap
Sector (General),NaN,NaN,NaN
Sector (Specific),NaN,NaN,NaN
Bond Type(s),NaN,NaN,NaN
Bond Duration,NaN,NaN,NaN
Commodity Type,NaN,NaN,NaN
Commodity,NaN,NaN,NaN
Commodity Exposure,NaN,NaN,NaN
Currency,NaN,NaN,NaN
Leveraged,NaN,NaN,NaN
Inverse,NaN,NaN,NaN

In [8]:
df.to_csv("etfdb.csv.zip", compression="zip")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3137 entries, 0 to 3136
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Symbol              3137 non-null   object
 1   Url                 3137 non-null   object
 2   Issuer              3137 non-null   object
 3   Brand               3136 non-null   object
 4   Structure           2609 non-null   object
 5   Expense Ratio       3137 non-null   object
 6   ETF Home Page       2659 non-null   object
 7   Inception           3137 non-null   object
 8   Index Tracked       3137 non-null   object
 9   Analyst Report      3137 non-null   object
 10  Price:              3113 non-null   object
 11  Change:             3113 non-null   object
 12  Category:           2674 non-null   object
 13  Last Updated:       3111 non-null   object
 14  P/E Ratio           3137 non-null   object
 15  52 Week Lo          3111 non-null   object
 16  52 Week Hi          3111 non-null   object
 17  AUM                 3137 non-null   object
 18  Shares              3137 non-null   object
 19  Category            3134 non-null   object
 20  Asset Class         3137 non-null   object
 21  Asset Class Size    1976 non-null   object
 22  Asset Class Style   1661 non-null   object
 23  Region (General)    2677 non-null   object
 24  Region (Specific)   2677 non-null   object
 25  Segment             3137 non-null   object
 26  Focus               3134 non-null   object
 27  Niche               3134 non-null   object
 28  Strategy            3134 non-null   object
 29  Weighting Scheme    3134 non-null   object
 30  Sector (General)    626 non-null    object
 31  Sector (Specific)   626 non-null    object
 32  Bond Type(s)        499 non-null    object
 33  Bond Duration       499 non-null    object
 34  Commodity Type      80 non-null     object
 35  Commodity           80 non-null     object
 36  Commodity Exposure  80 non-null     object
 37  Currency            34 non-null     object
 38  Leveraged           242 non-null    object
 39  Inverse             98 non-null     object
dtypes: object(40)
memory usage: 1004.8+ KB

# Overview all ETFs

In [10]:
df.Issuer.map(lambda x: x.split("/")[-2]).value_counts()

Issuer
blackrock-inc                400
first-trust                  219
invesco                      206
proshares                    139
state-street                 129
                            ...
capital-impact-advisors        1
the-leuthold-group-llc         1
q3-asset-management-corp       1
first-pacific-advisors-lp      1
sprott-asset-management        1
Name: count, Length: 232, dtype: int64

In [11]:
df.Brand.dropna().map(lambda x: x.split("/")[-2]).value_counts()

Brand
ishares            383
invesco            198
first-trust        151
proshares          139
spdr               131
                  ...
breakwave            1
regents-park         1
ea-series-trust      1
cambiar-funds        1
cboe-vest            1
Name: count, Length: 319, dtype: int64

In [12]:
df['Region (General)'].value_counts()

Region (General)
North America             1614
Developed Markets          389
Global                     328
Emerging Markets           102
Emerging Asia Pacific       55
Global ex-U.S.              49
Developed Europe            41
Developed Asia Pacific      37
Broad Asia                  35
Latin America               19
Middle East                  5
Frontier Markets             1
Africa                       1
Emerging Europe              1
Name: count, dtype: int64

In [13]:
df['Region (Specific)'].value_counts()

Region (Specific)
U.S.                    1595
Broad                    918
China                     33
EAFE                      25
Pacific ex-Japan          20
Japan                     19
India                     12
Brazil                     9
South Korea                5
Canada                     4
United Kingdom             3
Mexico                     3
Australia                  3
Germany                    3
Switzerland                2
Israel                     2
Indonesia                  2
Vietnam                    2
Taiwan                     2
Peru                       1
Hong Kong                  1
Saudi Arabia               1
United Arab Emirates       1
Colombia                   1
Qatar                      1
New Zealand                1
Philippines                1
Italy                      1
Chile                      1
Argentina                  1
Greece                     1
Thailand                   1
Malaysia                   1
Russia                     1
Name: count, dtype: int64

In [14]:
df[['Symbol','Inception']]

     Symbol     Inception
0       SPY  Jan 22, 1993
1       IVV  May 15, 2000
2       VOO  Sep 07, 2010
3       VTI  May 24, 2001
4       QQQ  Mar 10, 1999
...     ...           ...
3132   BITW  Nov 22, 2017
3133   MAGX  Feb 29, 2024
3134   ULTY  Feb 29, 2024
3135   USDX  Feb 29, 2024
3136   MAGQ  Feb 29, 2024

[3137 rows x 2 columns]

In [15]:
df[df['Price:']!="-"]['Price:'].dropna().map(lambda x: x[1:]).astype(float).describe()

count   3087.00
mean      45.42
std       43.34
min        0.95
25%       24.79
50%       33.24
75%       50.31
max      592.89
Name: Price:, dtype: float64

In [16]:
df['Change:']

0         $2.45 (0.0%)
1         $2.42 (0.0%)
2         $2.28 (0.0%)
3         $1.11 (0.0%)
4        $4.06 (0.01%)
             ...
3132                 -
3133     $1.11 (0.03%)
3134     $0.13 (0.01%)
3135      $0.07 (0.0%)
3136    $0.58 (-0.03%)
Name: Change:, Length: 3137, dtype: object

In [17]:
df['Category:'].value_counts()

Category:
Large Cap Growth Equities    197
Large Cap Blend Equities     166
All Cap Equities             135
Volatility Hedged Equity     128
Total Bond Market            121
                            ...
Transportation Equities        3
Leveraged Volatility           2
Metals                         2
Leveraged Multi-Asset          2
Closed                         1
Name: count, Length: 73, dtype: int64

In [18]:
df['P/E Ratio'][0]

"{'SPY': '17.86', 'ETF Database Category Average': '14.95', 'FactSet Segment Average': '4.61'}"

In [19]:
df['AUM']

0       $545,741.0 M
1       $497,954.0 M
2       $478,357.0 M
3       $413,613.0 M
4       $293,122.0 M
            ...
3132          $0.0 M
3133         $10.1 M
3134        $162.0 M
3135        $102.8 M
3136          $0.6 M
Name: AUM, Length: 3137, dtype: object

In [20]:
df['Shares']

0         994.4 M
1         902.5 M
2         948.4 M
3       1,534.5 M
4         602.0 M
          ...
3132        0.0 M
3133        0.3 M
3134       11.9 M
3135        4.1 M
3136        0.0 M
Name: Shares, Length: 3137, dtype: object

In [21]:
df['Category'].value_counts()

Category
Size and Style                           1515
Sector                                    768
Corporate, Broad-based                    154
Broad Market, Broad-based                 142
Asset Allocation                          123
Government, Treasury                       72
Government, Local Authority/Municipal      66
High Dividend Yield                        52
Hedge Fund Strategies                      28
Precious Metals                            28
Pair                                       26
Broad Market                               23
Corporate, Preferred                       22
Energy                                     18
Government, Inflation-linked               18
Tactical Tools                             15
Corporate, Bank Loans                      13
Basket                                      8
Agriculture                                 7
Broad Market, Asset-backed                  7
Government, Non-native currency             7
Government, Mortgage-backed                 6
Corporate, Convertible                      5
Industrial Metals                           4
Government, Broad-based                     3
Metals                                      2
Government, Agency                          1
Corporate, Asset-backed                     1
Name: count, dtype: int64

In [22]:
df['Asset Class'].value_counts()

Asset Class
Equity             2274
Bond                499
Multi-Asset         147
Commodity            80
Real Estate          43
Currency             34
Alternatives         32
Preferred Stock      16
Volatility           12
Name: count, dtype: int64

In [23]:
df['Asset Class Size'].value_counts()

Asset Class Size
Large-Cap    890
Multi-Cap    848
Small-Cap    100
Mid-Cap       72
Micro-Cap     54
Mega-Cap      12
Name: count, dtype: int64

In [24]:
df['Asset Class Style'].value_counts()

Asset Class Style
Blend     1196
Growth     335
Value      130
Name: count, dtype: int64

In [25]:
df['Segment'].value_counts()

Segment
Equity: U.S.  -  Large Cap                                                                 409
Equity: U.S.  -  Total Market                                                              174
Equity: U.S.  -  Small Cap                                                                  69
Equity: Emerging Markets  -  Total Market                                                   69
Asset Allocation: Global Target Outcome                                                     68
                                                                                          ...
Fixed Income:Developed Markets Ex-U.S. Government, Treasury Investment Grade Short-Term      1
Equity: France  -  Total Market                                                              1
Equity: Qatar  - Total Market                                                                1
Fixed Income: U.S. - Government, Agency Investment Grade                                     1
Fixed Income: Global - Broad Market, Broad-based Ultra-Short Term                            1
Name: count, Length: 595, dtype: int64

In [26]:
df['Focus'].value_counts()

Focus
Total Market                     664
Large Cap                        598
Investment Grade                 302
Theme                            296
Small Cap                        147
                                ...
Long USD, Short Global Basket      1
Micro Cap                          1
Palladium                          1
Long USD, Short G10 Basket         1
Long USD, Short ETH                1
Name: count, Length: 62, dtype: int64

In [27]:
df['Niche'].value_counts()

Niche
Broad-based                         1540
Broad Maturities                     263
Value                                123
Growth                               105
Intermediate                          83
                                    ...
Oil & Gas Equipment & Services         1
Health Care Equipment & Supplies       1
Steel Producers                        1
Market Neutral                         1
Global Macro                           1
Name: count, Length: 126, dtype: int64

In [28]:
df['Strategy'].value_counts()

Strategy
Active                    920
Vanilla                   865
Buy-write                 268
Multi-factor              247
Fundamental               167
ESG                       126
Equal                     105
Dividends                  77
Growth                     54
Bullet Maturity            53
Value                      53
Momentum                   33
Exchange-specific          27
Low Volatility             17
Technical                  16
Optimized commodity        15
Fixed Asset Allocation     12
Laddered                   12
Volatility Hedged          11
Target Duration            11
Duration Hedged             9
Options Collar              9
Price-weighted              6
Extended Term               6
Time Since Launch           5
Copycat                     5
Inflation Hedged            4
Long-Short                  1
Name: count, dtype: int64

# Analyse Single ETF - SPY

The SPDR S&P 500 ETF trust is an exchange-traded fund which trades on the NYSE Arca under the symbol SPY. SPDR is an acronym for the Standard & Poor's Depositary Receipts, the former name of the ETF. It is designed to track the S&P 500 stock market index. This fund is the largest and oldest ETF in the USA. https://en.wikipedia.org/wiki/SPDR_S%26P_500_Trust_ETF

In [29]:
spy = ETF("SPY")
spy_tabular = spy.to_tabular()

In [30]:
spy_tabular.exposure_by_sector

                    metric  value
0    Electronic Technology  22.57
1      Technology Services  20.38
2                  Finance  11.80
3        Health Technology   8.98
4             Retail Trade   7.85
5    Consumer Non-Durables   3.96
6   Producer Manufacturing   3.55
7        Consumer Services   2.84
8          Energy Minerals   2.83
9      Commercial Services   2.59
10               Utilities   2.30
11       Consumer Durables   2.13
12         Health Services   1.98
13      Process Industries   1.56
14          Transportation   1.49
15     Industrial Services   0.88
16          Communications   0.84
17   Distribution Services   0.62
18     Non-Energy Minerals   0.57
19                    CASH   0.34

In [31]:
spy_tabular.info_numeric

              metric           value
0  Expense Ratio (%)            0.09
1          Price ($)          559.99
2         Change ($)            3.51
3          P/E Ratio           17.86
4     52 Week Lo ($)          404.99
5     52 Week Hi ($)          563.67
6            AUM ($) 556694000000.00
7             Shares    991500000.00

In [32]:
spy_tabular.get_quotes(interval="daily", periods=365)

    symbol        date   open   high    low  close     volume
0      SPY  2023-01-31 401.13 406.53 400.77 406.48   86811700
1      SPY  2023-02-01 405.21 413.67 402.35 410.80  101459100
2      SPY  2023-02-02 414.86 418.31 412.88 416.78  101654400
3      SPY  2023-02-03 411.59 416.97 411.09 412.35   94736700
4      SPY  2023-02-06 409.79 411.29 408.10 409.83   60295300
..     ...         ...    ...    ...    ...    ...        ...
360    SPY  2024-07-09 556.26 557.18 555.52 555.82   27314125
361    SPY  2024-07-10 557.07 561.67 556.77 561.32   38701200
362    SPY  2024-07-11 561.44 562.33 555.83 556.48   53054100
363    SPY  2024-07-12 557.63 563.67 557.15 559.99   53084400
364    SPY  2024-07-15 562.03 564.84 561.39 563.72   11945652

[365 rows x 7 columns]

# Trading ETFs - Examples from Literature

In [33]:
# Lin, W., & Wu, S. (2023). Predicting S&P 500 Index ETF (SPY) During COVID-19 via K-Nearest Neighbors (KNN) Algorithm. 
# Journal of Accounting and Finance, 23(2). https://articlearchives.co/index.php/JAF/article/view/5775

# The paper uses SPY to proxy for the S&P 500 index, DIA for the Dow & Jones Index, and QQQ for the NASDAQ index.

# In this paper, the KNN algorithms (models) include 
# 1) HL_SPY model using daily High-Low prices of SPY as the predictors; 
# 2) HL_SPY_DIA model using High-Low prices of SPY and DIA; 
# 3) HL_SPY_QQQ model using High-Low prices of SPY and QQQ; 
# 4) HL_SPY_DIA_QQQ model using High-Low prices of SPY, DIA and QQQ. 
# The K is identified by using GridSearchCV from the Sklearn.

spy = ETF("SPY")
spy_tabular = spy.to_tabular()

dia = ETF("DIA")
dia_tabular = dia.to_tabular()

qqq = ETF("QQQ")
qqq_tabular = qqq.to_tabular()

In [34]:
tmp = spy_tabular.get_quotes(interval="daily", periods=365*40)
tmp['date'] = pd.to_datetime(tmp['date'])
mask = (tmp['date'] > '2020-03-10') & (tmp['date'] <= '2022-06-12')
tmp = tmp.loc[mask]
pd.DataFrame([tmp.high.describe(), tmp.low.describe()]).T

        high    low
count 569.00 569.00
mean  392.12 386.58
std    59.43  60.12
min   229.68 218.26
25%   342.98 338.09
50%   407.24 403.38
75%   441.60 437.19
max   479.98 476.06

In [35]:
tmp = dia_tabular.get_quotes(interval="daily", periods=365*40)
tmp['date'] = pd.to_datetime(tmp['date'])
mask = (tmp['date'] > '2020-03-10') & (tmp['date'] <= '2022-06-12')
tmp = tmp.loc[mask]
pd.DataFrame([tmp.high.describe(), tmp.low.describe()]).T

        high    low
count 569.00 569.00
mean  315.57 311.43
std    40.63  41.49
min   191.20 182.10
25%   283.25 278.75
50%   331.93 326.82
75%   348.72 345.35
max   369.50 367.21

In [36]:
tmp = qqq_tabular.get_quotes(interval="daily", periods=365*40)
tmp['date'] = pd.to_datetime(tmp['date'])
mask = (tmp['date'] > '2020-03-10') & (tmp['date'] <= '2022-06-12')
tmp = tmp.loc[mask]
pd.DataFrame([tmp.high.describe(), tmp.low.describe()]).T

        high    low
count 569.00 569.00
mean  318.33 312.46
std    54.21  54.39
min   174.21 164.93
25%   282.88 279.46
50%   326.46 318.26
75%   361.50 356.48
max   408.71 402.58

In [37]:
tmp = spy_tabular.get_quotes(interval="daily", periods=365*40)
tmp['date'] = pd.to_datetime(tmp['date'])

mask = (tmp['date'] > '2020-03-10') & (tmp['date'] <= '2021-12-31')
train = tmp.loc[mask]

mask = (tmp['date'] > '2021-12-31') & (tmp['date'] <= '2022-06-12')
test = tmp.loc[mask]

In [38]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error


# Define features and target
X_train = train[['high', 'low']]
y_train = (train['high'] + train['low']) / 2  # We'll use the average of high and low as the target

X_test = test[['high', 'low']]
y_test = (test['high'] + test['low']) / 2  # We'll use the average of high and low as the target

# Check the shapes of the splits
print("Training set shape: ", X_train.shape, y_train.shape)
print("Testing set shape: ", X_test.shape, y_test.shape)

Training set shape:  (458, 2) (458,)
Testing set shape:  (111, 2) (111,)

In [39]:
# Define the KNN model
knn = KNeighborsRegressor(n_neighbors=3)

# Train the model
knn.fit(X_train, y_train)

# Predict on the test set
y_pred = knn.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Root Mean Squared Error: {np.sqrt(mse)}")

# Display predicted vs actual values
results = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(results)

Root Mean Squared Error: 0.8137107629684961
      Actual  Predicted
7285  475.85     475.92
7286  477.78     477.34
7287  473.13     471.84
7288  468.12     468.43
7289  466.92     467.29
...      ...        ...
7391  413.58     413.97
7392  411.92     413.15
7393  413.10     413.11
7394  406.59     407.21
7395  392.76     393.04

[111 rows x 2 columns]

In [40]:
# Wang, J., & Zhang, G. (n.d.). PREDICTING RELATIVE PERFORMANCE OF SECTOR EXCHANGE TRADED FUNDS
# USING MACHINE LEARNING. JOURNAL OF BUSINESS AND BEHAVIORAL SCIENCES, 48.